:root{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	--black: #2d2c2e;				/*--primary*/
	--yellow: #fbbd0d;				/*--secondary*/
	--red: #fd1f4a;					/*--acscent-dark1*/
	--white: #faf5e6;				/*--acscent-dark2*/
}

*,::before,::after{ margin: 0; padding: 0; box-sizing: border-box;}

h1,h2,h3,h4,h5,h6{ font-family: Poppins; }

p{ font-size: 17px; }

a{ font-family: Poppins; font-size: 14px; font-weight: 600; letter-spacing: 1px;}

body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: minmax(70vh, max-content) max-content max-content;
}

/* ________________________ Header Section Starts Here _________________________ */

header{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: linear-gradient(var(--black), var(--black)), url("./images/bc1.jpg");
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.nav--sec{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding-inline: 50px;
	width: -webkit-fill-available;
	height: 60px;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

.nav--sec>a>img{ display: none; width: 20px; height: 20px; }

.nav{
	width: -webkit-fill-available;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.logo{ width: 50px; height: 50px; }

.nav>ul{ display: inline-flex; padding: 0; }

.nav li{ width: max-content; list-style: none; margin: 0 25px; position: relative; padding-bottom: 4px;}

.nav li::before{
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	background: var(--red);
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%); 
	transition: all 0.25s ease-in;	
}

.nav li:hover::before{ width: 100%; }

.nav li>a{ 
	display: block;
	text-decoration: none;
	text-align: center; 
	color: var(--white); 
	transition: color 0.2s ease-in;
}

.nav li>a:focus{ color: var(--red); }

.hero--txt{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.hero--p{ color: var(--white); text-transform: uppercase; font-family: sans-serif;}

.hero--p1{ font-size: 20px; font-weight: 600;}

.hero--h{ color: var(--red); font-size: 50px; text-transform: normal; letter-spacing: 1px; word-spacing: 8px;}

.hero--txt>a{
	display: block;
	width: 180px;
	height: 40px;
	padding: 8px 0;
	margin-top: 20px;
	color: var(--white);
	background-color: var(--red);
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	border: 2px var(--red) solid;
	border-radius: 40px;
	transition: background 0.2s linear, color 0.25s linear;
}

.hero--txt>a:hover{ background: var(--white); color: var(--red); }

.hero--txt>a:active{ transform: scale(0.97); }


.social--icons{ display: flex; align-items: center; justify-content: center; margin-top: 20px; }

.social--icons img{ width: 30px; height: 30px; margin-inline: 10px; transition: transform 0.2s ease-in;}

.social--icons img:hover{ transform: scale(1.2); }

.social--icons img:active{ transform: scale(1.0); }


/* __________________________  Content Section Starts Here _______________________  */

.content--sec{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.content--sec h2{ color: var(--red); position: relative; margin-block-end: 25px }

.content--sec h2::before{
	position: absolute;
	width: max-content;
	height: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	font-family: Poppins;
	font-size: 12px;
	font-weight: lighter;
	color: rgba(0, 0, 0, 0.7);

}
/* ________________________ About Section Starts Here _________________________ */

.about--sec{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 60px 100px;
	width: 100%;
	height: max-content;
}

.img--sec{
	width: 400px;
	height: 450px;
	border: 5px var(--white) solid;
	border-radius: 10px;
	background: #fff;
	box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	position: relative;
}

.img--sec>img{
	object-fit: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

.about--txt{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 45%;
	height: max-content;
	margin-left: 60px;
}

.about--txt>h2{ align-self: flex-start; } 

.about--txt>h2::before{ content: "Who I am?"; }

.about--txt>p{ width: 100%; text-align: justify; color: var(--black);}

.about--txt>a{
	display: block;
	padding: 8px 30px;
	text-decoration: none;
	text-align: center;
	font-weight: 600;
	color: var(--red);
	border: 2px var(--red) solid;
	border-radius: 40px;
	align-self: flex-start;
	margin-top: 20px;
	transition: background 0.25s ease;
}

.about--txt>a:hover{ background: var(--red); color: var(--white); box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4);}

.about--txt>a:active{ transform: scale(0.97); box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)}

.info{
	width: 100%;
	display: grid;
	grid-template-columns: max-content max-content max-content max-content;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 25px;
	grid-row-gap: 10px;
	font-size: 14px;
}

.about--txt>hr{
	border: none;
	background: #00000012;
	width: 100%;
	height: 2px;
	margin-block: 30px;
}

.info>label{ font-weight: 600; text-transform: uppercase;}

.info>p>span{ font-family: Arial; }

.col2{ margin-left: 40px; }

/* _____________________________  Skills Section Starts Here ________________________ */

.skills--sec{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 60px 100px;
	width: 100%;
	height: max-content;
	background: #ffdce1;
}

.skills--sec>hr{
	width: 2px;
	height: 200px;
	background: rgba(0, 0, 0, 0.2);
	transform: rotateY(90deg);
}

.skills--txt,.skills--bars{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-basis: 50%;
}

.skills--txt>h2{ align-self: flex-start; }

.skills--txt>h2::before{ content: "What I Know?";}

.bar--fields{ margin-block: 15px;}

.bar--txt{ display: flex;  justify-content: space-between;}

.bar--txt>h4{ font-weight: 600; }

.bars{
	width: 350px;
	height: 5px;
	background: var(--black);
	position: relative;
	border-radius: 20px;
	overflow: hidden;
}

.bars::before{
	content: "";
	position: absolute;
	height: 100%;
	background: var(--red);
}

.bar1::before{ width: 85%; }
.bar2::before{ width: 75%; }
.bar3::before{ width: 55%; }

/* _________________________ Services Section Starts Here ________________________ */

.services--sec{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 60px 100px;

}

.services--sec>h2::before{ content: "What I Do?"; left: 50%; transform: translateX(-50%);}

.card--sec{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 25px;
}

.cards{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 330px;
	height: 300px;
	padding: 15px 20px;
	border-radius: 10px;
	margin-inline: 10px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.2s linear;
}

.cards:hover{
	border: 2px var(--red) solid;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
	transform: scale(1.04);
}

.cards>img{ width: 70px; height: 70px; }

.cards>h3{ font-size: 16px; margin: 15px 0 5px 0;}

.cards>h3,p{ color: var(--black); }

.cards>p{ text-align: center;}

/* ________________________ Testimnial SEction Starts Here ___________________________ */

.test--sec{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 535px;
	overflow: hidden;
	position: relative;

}

.test--sec>h2{ position: absolute; top: 60px; }

.test--sec>h2::before{ content: "What People Says?"; left: 50%; transform: translateX(-50%); }

.test--container{
	position: absolute;
	bottom: 60px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	padding-block: 5px;
	width: 100%;
	height: 350px;
	overflow-x: auto;
}

.test--cards{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px 30px;
	margin: 0 40px;
	width: 500px;
	height: 300px;
	color: var(--black);		
	background-image: linear-gradient(to bottom, #fff, var(--white));
	border-bottom: 3px transparent solid; 
	border-radius: 5px;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
	transition: all 0.2s linear;
}

.test--cards:hover{
	border-bottom-color: var(--red); transform: scale(1.01); }

.test--cards>img{ width: 80px; height: 80px; margin-block-end: 5px; }

.test--cards>h3{ font-size: 16px; margin: 15px 0 5px 0; position: relative;}

.test--cards>p{ width: 400px; margin-top: 15px;}

.test--cards>h3::before{
	content: "Web Designer";
	position: absolute;
	width: max-content;
	height: 100%;
	height: 5px;
	bottom: 0;
	left: 0;
	font-family: Poppins;
	font-size: 12px;
	font-weight: lighter;
	color: rgba(0, 0, 0, 0.7);
}

/* _____________________ Work Section Starts Here ____________________  */

.work--sec{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	align-content: center;
	padding: 60px 100px ;
	background: #ffdce1;

}

.work--sec>h2::before{ content: "What I Done?";  left: 50%; transform: translateX(-50%); }

.work--cards--container{
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: center;
	flex-wrap: wrap;
}

.work--cards{
	background-image: url("../images/project1.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 400px;
	height: 300px;
	margin: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	position: relative;
	overflow: hidden;
}

.work--cards>h3{ color: var(--black); padding: 10px 0 10px 20px; width: 100%; background: var(--white);
 position: absolute; bottom: 0; }

.work--cards>h3>span{
	display: block;
	font-size: 15px;
	font-weight: lighter;
}

.hov--cards{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #faf5e6e3;
	display: none;
}

.hov--cards>a{
	display: block;
	width: 150px;
	height: 45px;
	padding: 12px;
	text-align: center;
	margin: 35% auto;
	background: var(--red);
	color: var(--white);
	text-decoration: none;
	border-radius: 50px	;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
	transition: transform 0.05s linear , box-shadow 0.1s linear;
}

.hov--cards>a:hover{ box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.4); transform: translate(1px, -1px); }

.hov--cards>a:active{
	transform: scale(0.96);
	box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.3);
}

.work--cards:hover .hov--cards{ display: block; }

/* ______________________ Contact Section Starts Here ______________________ */

.contact--sec{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 60px 100px;
	width: 100%;
	height: max-content;
	color: var(--black);
	background: #ffdce1;

}

.contact--left, .contact--right{ 
	display: flex;
	flex-direction: column;
	align-content: center;
	flex-basis: 50%;
}

.contact--right{
	align-items: flex-start;
	padding-left: 200px;
}	

.contact--left>h2::before{ content: "How To Contact?"; }

.right--top{ margin-bottom: 30px; }

.social{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	align-content: center;
	margin: 10px 0;
	flex-basis: 50%;
}

.social>a>img{ width: 20px; height: 20px; margin: 0 5px; }

/* _____________________ Footer Section Starts Here ________________________ */

footer{
	display: flex; 
	align-items: center;
	justify-content: space-between;
	align-content: center;
	padding: 20px 40px;
	width: 100%;
	height: 100px;
}

footer>.nav li>a{
	color: var(--black);
}